<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= info.description %>">
    <meta name="author" content="<%= info.name %>">
    <title>
        <%= info.pageTitle %>
    </title>
    <link rel="stylesheet" href="./src/reset.css" />
    <link rel="stylesheet" href="./src/style.css" />
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
    <link rel="icon" type="image/png" href="./src/img/plum.png" />
    <link rel="preload" as="image" href="./src/img/plum.svg">
    <link rel="preload" as="image" href="./src/img/noun-koi-fish-1610333.svg">
    <link rel="preload" as="image" href="./src/img/noun-koi-fish-straight.svg">
    <link rel="modulepreload" href="node_modules/aos/dist/aos.js">
    <script type="module">
        /*to prevent Firefox FOUC, something must be here*/
        import o from "aos"; o.init({ once: true, duration: 500 });
    </script>
</head>

<body>
    <nav>
        <h1>
            <img class="icon" src="./src/img/plum.svg" alt=""></img>
            <span>
                <%= info.name %>
            </span>
        </h1>
        <div class="menu">
            <input type="checkbox" id="show-burger" aria-hidden="true">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="links">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>

            </div>
        </div>
    </nav>

    <header>
        <div class="frame" data-aos="fade-down-right" data-aos-delay="500">
            <img class="bg" src="" alt="" srcset="" />
            <div class="ripple fixed1"></div>
            <div class="ripple fixed2"></div>
            <div class="ripple follow"></div>
            <img src="./src/img/noun-koi-fish-1610333.svg" alt="" srcset="" class="fish a">
            <img src="./src/img/noun-koi-fish-1610333.svg" alt="" srcset="" class="fish b">
            <img src="./src/img/noun-koi-fish-1610333.svg" alt="" srcset="" class="fish c">
            <img src="./src/img/noun-koi-fish-1610333.svg" alt="" srcset="" class="fish d">
            <img src="./src/img/noun-koi-fish-straight.svg" alt="" srcset="" class="fish e">
            <div class="contents">
                <h2>
                    <%= info.jobTitle %>
                </h2>
                <h1>
                    <%= info.name %>
                </h1>
            </div>
        </div>
    </header>

    <main>
        <section id="about">
            <h1>About</h1>
            <div class="contents">
                <div class="left frame" data-aos="fade-down-right" data-aos-delay="1000">
                    <% for( para of info.description) { %>
                        <p>
                            <%= para %>
                        </p>
                        <% } %>
                </div>
                <div class="carousel-wrapper" data-aos="fade-down-right" data-aos-delay="250" data-aos-offset="100">
                    <div class="fish-carousel">
                        <ul class="group">
                            <% for( const skill of skillList ) { %>
                                <li>
                                    <%= skill %>
                                </li>
                                <% } %>
                        </ul>
                        <ul class="group" aria-hidden="true">
                            <% for( const skill of skillList ) { %>
                                <li>
                                    <%= skill %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="fish-carousel offset">
                        <ul class="group">
                            <% for( const skill of skillList ) { %>
                                <li>
                                    <%= skill %>
                                </li>
                                <% } %>
                        </ul>
                        <ul class="group" aria-hidden="true">
                            <% for( const skill of skillList ) { %>
                                <li>
                                    <%= skill %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
                <div class="hover-doodle" data-aos="fade-down-right" data-aos-delay="1500">
                    <img src="./src/img/lil-guy.svg" alt="" srcset="">
                </div>
            </div>
        </section>
        <section id="projects">
            <h1>My Projects</h1>
            <% projectList.map(p=> { %>
                <article class="project frame" data-aos="flip-right">
                    <div class="left">
                        <img src="<%= p.img %>" alt="<%= p.imgAlt %>" />
                    </div>
                    <div class="contents">
                        <div class="info">
                            <h2>
                                <%= p.name %>
                            </h2>
                            <p>
                                <%= p.desc %>
                            </p>
                        </div>
                        <div class="links">
                            <% for( const link of p.links ) { %>
                                <a href="<%= link.href %>" target="_blank" rel="noopener" class="repo" aria-label="<%=
                                        link.label %>">
                                    <img src="<%= link.iconSrc %>" alt="" height="1em" width="1em">
                                </a>
                                <% } %>

                        </div>
                        <h3>Stack</h3>
                        <ul class="stack">
                            <% p.stack.split(", ").map( (item, index) => {%> 
                                <li data-n=<%= index + 1 %>><%= item %></li>
                             <% }) %>
                        </ul>
                    </div>
                </article>
            <% }) %>
        </section>
        <section id='contact'>
            <h1>Contact Me</h1>
            <div class=" frame">
                                <div class="links">
                                    <% for( let i=0; i < linkList.length; i++ ) { %>
                                        <a class="unstyled blob" target="_blank" rel="noopener"
                                            href="<%linkList[i].href %>" data-aos="fade-down-right"
                                            data-aos-anchor="#contact" data-aos-delay="<%= i*200 %>">
                                            <div class="square">
                                                <img src="<%= linkList[i].iconSrc %>" alt="" width="1em" height="1em">
                                            </div>
                                            <label>
                                                <%= linkList[i].label %>
                                            </label>
                                        </a>
                                        <% } %>
                                </div>
                                <div class="credits contents">
                                    <h2>Credits</h2>
                                    <p>Vectors and icons courtesy of <a href="https://www.svgrepo.com" rel="noopener"
                                            target="_blank">SVG
                                            Repo</a> and <a href="https://thenounproject.com/creator/renzokbanget/"
                                            rel="noopener" target="_blank">The Noun Project.</a></p>
                                    <p>Site template created by me! <span style="white-space: nowrap">( ˶ˆᗜˆ˵ )</span> ✧
                                    </p>

                                </div>
                    </div>
        </section>

        <footer>
            <a href=<%=footer.href %> rel="noopener" target="_blank">
                <img src="<%= footer.iconSrc %>" alt="" height="1em" width="1em">
                <span>
                    <%= footer.label %>
                </span></a>
        </footer>
    </main>
</body>

<script>
    const u = document.querySelector("header .frame"); u.addEventListener("mousemove", n => o(n), true); document.addEventListener("scroll", n); function n() { const n = document.querySelector("nav"); if (window.scrollY < 10) { n.classList.remove("floating") } else n.classList.add("floating") } function o(n) { if (n.currentTarget !== u) return; const o = document.querySelector(".ripple.follow"); var e = n.currentTarget.getBoundingClientRect(); const t = event.clientX - e.left; const c = event.clientY - e.top; o.style.left = t + "px"; o.style.top = c + "px" }
</script>

</html>