@font-face {
  font-family: "Reem Kufi";
  font-weight: 200 800;
  font-style: normal;
  src: url("ReemKufi-VariableFont_wght.ttf") format("truetype");
  font-display: optional;
}

:root {
  font-family: "Reem Kufi", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --b-width: 4px;
  --white: white;
  --black: #1a1a1a;
  --accent: #f68181;
  --section-pad-x: 4rem;
  --section-pad-y: 2rem;
  font-size: 20px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #region Global Styles */
/* =============================================== */

svg {
  height: 1em;
  width: auto;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  color: var(--accent);
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
  will-change: transform;
  transition: transform 200ms ease-in-out;
}

a.unstyled,
.unstyled a {
  text-decoration: none;
  color: inherit;
}

a label {
  cursor: pointer;
}

.frame {
  outline: var(--b-width) solid var(--black);
  position: relative;
  box-shadow: -1rem -1rem var(--black);
}

.frame > .contents {
  padding: var(--section-pad-y);
  height: 100%;
  width: 100%;
}

/* #endregion Global Styles */

/* =============================================== */
/* #region Nav Bar Styling */
/* =============================================== */

nav {
  padding: calc(var(--section-pad-y) / 2);
  padding-right: calc(var(--section-pad-x) / 2);
  position: sticky;
  background-color: var(--white);
  z-index: 30;
  top: 0;
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  transition: transform 200ms ease-out;
}

nav.floating {
  transform: translateY(-100%);
}

nav::after {
  height: 100%;
  width: 100%;
  margin: -1rem;
  position: absolute;
  transform: translateY(100%);
  content: "";
}

nav:hover {
  transform: translateY(0);
}

nav h1 {
  line-height: 1em;
  font-size: 2rem;
}

nav .menu,
nav .links {
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
  flex: auto;
  transition: transform 200ms ease-in-out;
  transform-origin: top;
}

nav .icon {
  display: inline;
  height: 1em;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  z-index: 30;
}

nav a:hover {
  text-decoration: underline 2px;
}
/* #endregion Nav Bar Styling */

/* =============================================== */
/* #region Burger */
/* =============================================== */

.burger {
  display: none;
}

#show-burger {
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 20;
  -webkit-touch-callout: none;
}

/* Hamburger icon */
.burger span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin-top: 0.25rem;
  position: relative;
  background: var(--white);
  border-radius: 0.2rem;
  z-index: 10;

  transform-origin: 0.2rem 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.burger span:first-of-type {
  transform-origin: 0% 0%;
}

.burger span:last-of-type {
  transform-origin: 0% 100%;
}

/*#endregion Burger */
/* #region Header */
/* =============================================== */

header {
  padding: var(--section-pad-y) var(--section-pad-x);
}

header .frame {
  height: 20rem;
  overflow: hidden;
}

header .frame .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  will-change: contents;
}

header h1 {
  text-align: right;
  font-size: 3.5rem;
}

header h2 {
  font-size: 2rem;
  font-weight: 400;
}

header .bg {
  position: absolute;
}

/* #endregion Header */
/* #region Main*/
/* =============================================== */

main > section {
  padding: var(--section-pad-y) var(--section-pad-x);
  min-height: 30rem;
}

main h1 {
  margin-bottom: 1rem;
}

/* #endregion Main */
/* =============================================== */
/* #region About*/
/* =============================================== */

#about {
  font-size: 1.5rem;
  min-height: fit-content;
  padding: var(--section-pad-y) 0;
}

#about h1 {
  margin-bottom: 2rem;
  padding: 0 var(--section-pad-x);
}

#about .contents {
  display: flex;
  position: relative;
}

#about .frame {
  background-color: var(--white);
  max-width: calc(200% / 3);
  height: unset;
  padding: 2rem;
  margin: 0 var(--section-pad-x);
  flex: 2 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about .hover-doodle {
  flex: 1 0 10rem;
  margin-right: var(--section-pad-x);
}

#about .hover-doodle img {
  max-height: min(80vh, 40rem);
}

.carousel-wrapper {
  --duration: 30s;
  bottom: calc(30% - 1rem);
  position: absolute;
  width: 100%;
  z-index: -10;
}

.fish-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  will-change: transform;
}

.fish-carousel.offset {
  transform: translateY(100%);
  animation-delay: -2s;
}

.fish-carousel.offset ul {
  animation-delay: calc(var(--duration) / -2 + 1s);
}

.fish-carousel ul {
  list-style-type: none;
  display: flex;
  row-gap: 1rem;
  padding-left: 0;
  font-size: 1.25rem;
  animation: move var(--duration) linear infinite;
}

.fish-carousel li {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  margin: 0 1.75em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  white-space: nowrap;
}

.fish-carousel li::before,
.fish-carousel li::after {
  width: 2.3em;
  position: absolute;
  z-index: -10;
}

.fish-carousel li::before {
  content: url(./img/fishhead.svg);
  left: 0;
  transform: translate(-75%, -0.5em);
}

.fish-carousel li::after {
  content: url(./img/fishtail.svg);
  right: 0;
  transform: translate(93%, -0.6em);
}

/* #endregion About */
/* =============================================== */
/* #region Projects*/
/* =============================================== */
#projects {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
}

#projects h1 {
  width: 100%;
}

.project {
  display: flex;
  align-items: stretch;
  padding: 0;
  height: 21rem;
  flex: 1 0 26rem;
}

.project .left {
  height: 100%;
  position: absolute;
  max-width: calc(100% / 3);
  will-change: contents;
  transition: max-width 200ms ease-in-out;
  border-right: var(--b-width) solid var(--black);
  box-sizing: content-box;
  z-index: 10;
}

.project .left img {
  object-fit: cover;
  height: 100%;
}

.project .left:hover {
  max-width: 100%;
}

.project iframe {
  max-width: calc(60% / var(--scalar));
  height: calc(100% / var(--scalar));
  transform: scale(var(--scalar));
  outline: none;
  border: none;
  border-right: calc(var(--b-width) / var(--scalar)) solid var(--black);
  transform-origin: top left;
}

.project .contents {
  margin-left: calc(100% / 3);
}

.project .links {
  display: flex;
  justify-content: right;
  gap: 1rem;
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project .links a {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
}

.project .links img {
  height: 1em;
  width: 1em;
}

.project {
}

/* #endregion Projects */

/* #region Stack*/
/* =============================================== */

/* For iteratively styling */
[data-n="1"] {
  --n: 1;
}
[data-n="2"] {
  --n: 2;
}
[data-n="3"] {
  --n: 3;
}
[data-n="4"] {
  --n: 4;
}
[data-n="5"] {
  --n: 5;
}
[data-n="6"] {
  --n: 6;
}
[data-n="7"] {
  --n: 7;
}
[data-n="8"] {
  --n: 8;
}

.stack {
  padding-left: 1rem;
}

.stack li {
  transform: translateX(0);
  transition: 200ms ease-in;
  list-style: none;
}

.stack li::before {
  display: inline-block;
  background: var(--black);
  height: 0.5rem;
  width: 0.5rem;
  content: "";

  margin-right: 1rem;
  transition: margin;
  transition: 200ms ease-in;
}

.stack:hover li::before {
  width: 3rem;
  transform-origin: right;
}

.stack:hover li {
  transform: translateX(calc(var(--n) * 1.5rem - 1.5rem));
}

/* #endregion Stack */

/* #region Contact*/
/* =============================================== */

#contact h1 {
  margin-bottom: 2rem;
}

#contact .frame {
  display: flex;
  flex-direction: horizontal;
}

#contact .links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-right: var(--b-width) var(--black) solid;
}

#contact .credits,
#contact .links {
  padding: calc((var(--section-pad-x) + var(--section-pad-y)) / 2);
}

.credits h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.credits p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.blob {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 4rem;
  overflow: visible;
}

.blob .square {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: var(--black);
  border-radius: 0.5rem;
}

.blob img {
  height: auto;
  width: 8rem;
}

.blob > label {
  margin-top: 4px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  text-align: center;
}

#contact a:nth-child(2) {
  margin-top: 6rem;
}

#contact a:nth-child(3) {
  margin-top: 2rem;
}

#contact a:nth-child(4) {
  margin-top: 8rem;
}
/* #endregion Contact */

/* #region Footer*/
/* =============================================== */

footer {
  margin-top: var(--section-pad-y);
}
footer a {
  background-color: var(--black);
  color: var(--white);
  text-decoration-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
footer img {
  height: 1em;
  width: 1em;
}
/* #endregion Footer*/

/* #region Animations*/
/* =============================================== */

.fish {
  mix-blend-mode: difference;
  position: absolute;
  padding-top: 2em;
  bottom: -4.25em;
  right: -1.75em;
  height: 10em;
  font-size: max(3vw, 2rem);
  transform-origin: top left;
  animation: rotate 5s infinite cubic-bezier(0.5, 0, 0.4, 1);
}

.fish.a {
  height: 9em;
  animation-delay: 1s;
  animation-duration: 6s;
}

.fish.c {
  transform: scale(-1);
  animation-delay: -0.5s;
}

.fish.d {
  transform: scaleX(-1);
  animation-direction: reverse;
  left: 0;
  height: 6em;
  bottom: -6em;
  padding: 0;
  animation-duration: 4.5s;
}

.fish.e {
  scale: 1 -1;
  transform-origin: bottom right;
  bottom: 3em;
  left: -3em;
  padding-bottom: 4em;
  height: 12em;
  animation-duration: 9s;
}

.ripple,
.ripple::after,
.ripple::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  height: var(--ripple-size);
  width: var(--ripple-size);
  outline: 4px solid var(--black);
  border-radius: 100%;
  animation: ripple infinite ease-in-out;
  animation-delay: var(--delay1);
  animation-duration: var(--duration);
}

.ripple {
  --ripple-size: 6rem;
  --delay1: 0ms;
  --delay2: 300ms;
  --delay3: 1000ms;
  --duration: 3.5s;
  translate: -50% -50%;
  transition: all 200ms ease-out;
}

.ripple::after {
  animation-delay: var(--delay2);
}

.ripple::before {
  animation-delay: var(--delay3);
}

.ripple.follow {
  bottom: -6rem;
  left: 0;
}

.ripple.fixed1 {
  --ripple-size: 10rem;
  --delay1: 300ms;
  --delay2: 1200ms;
  --delay3: 2000ms;
  --duration: 5s;
  top: 1rem;
  right: -7rem;
}

.ripple.fixed2 {
  --ripple-size: 16rem;
  --delay1: 1000ms;
  --delay2: 1900ms;
  --delay3: 2800ms;
  --duration: 5s;
  left: 0rem;
  bottom: -16rem;
}

@keyframes ripple {
  0% {
    opacity: 1;
    scale: 0.25;
  }

  80% {
    opacity: 0.6;
    scale: 1.475;
  }

  100% {
    opacity: 0;
    scale: 1.5;
  }
}

@keyframes rotate {
  100% {
    rotate: 0deg;
  }
  0% {
    rotate: 360deg;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* #endregion Animations*/

/* #region Media*/
/* #endregion Media*/

@media (max-width: 830px) {
  nav {
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 1rem;
  }
  nav .links {
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--black);
    color: var(--white);
    padding: var(--section-pad-x);
    translate: 0 1rem;
    font-size: 1.15em;
  }

  nav.floating {
    transform: none;
  }

  nav .menu {
    justify-content: end;
  }

  .carousel-wrapper {
    bottom: 20%;
  }

  .burger {
    display: block;
  }

  #show-burger:not(:checked) ~ .links {
    transform: scaleY(0);
  }

  #contact .frame {
    flex-direction: column-reverse;
  }
  #contact .links {
    border-top: var(--b-width) var(--black) solid;
    border-right: none;
  }
}

@media (max-width: 1080px) {
  :root {
    --section-pad-x: 2.5rem;
  }

  #about .frame {
    box-shadow: none;
    outline: none;
    background: none;
    padding: 0;
    flex: auto;
    max-width: unset;
    margin-bottom: 11rem;
  }

  #about .hover-doodle {
    display: none;
  }

  #contact .links {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  #contact .links a {
    margin-top: 0 !important;
    max-width: 5rem;
  }
}

@media (min-width: 80rem) {
  #about .contents {
    align-items: start;
  }

  #about .frame {
    font-size: 1.15em;
    padding-bottom: 6rem;
  }
}
